.shop-page {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 91vh;
}

.sidebar-menu {
    display:flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #474747;
    border-top: solid 5px black;
    margin-bottom: 5px;
    
}

.main-menu{
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin: 0px;
    padding: 15px;
    margin-top:10px;
    margin-left:10px;
}

.itemBoxes {
    display: flex;
    width: 200px;
    height: 200px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    flex-flow: row wrap;
    background-color: blue;
    border: solid;
    padding: 15px;
    
}
