.shop-page {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 91vh;
}

.sidebar-menu {
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #474747;
    
}
