.headerBackground {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: auto;
    background-color: #474747;
}

.leftSide{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;

}
