.headerBackground {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: auto;
    background-color: #474747;
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;

}