.mainBackground {
    display: grid;
    grid-template-columns: auto 700px auto 700px auto;
    grid-template-rows: 100px auto 100px;
    background-color: white;

}

.leftBar {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #515151;

}

.rightBar {
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: #515151;
}

#centerLine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#textSpacing {
    margin-bottom: 10px;
}
