.item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
}
.itemImage{
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid black 3px;
  width: 100%;
  height: 100%;
}
.itemDesc{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #474747;
  border-top: solid black 3px;
  width: 100%;
  height: 456px;
}