.footerBackground {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: auto;
    background-color: #474747;
}

.footerCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}